.buyer5 {
    background-image: url("https://cdn.pixabay.com/photo/2017/03/01/10/03/online-sales-2108028_960_720.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.buyerheader5 h1 {
    color: #af1212;
    text-align: center;
    font-weight: 800;
    font-size: 4rem;
}
.buyerheader5 p {
    text-align: center;
    font-weight: bold;
    margin-bottom: 5rem;
    font-size: 1.2rem;
}
  
.buyerdetails {
    display: inline-flex;
    flex-direction: row;
    height: 300px;
    padding: 20px;
    text-align: center;
}
  
  .buyerdetails h3 {
    color: #af1212;
    font-weight: bold;
    font-size: 1.8rem;
  }
  
  .detail .icon {
    width: 100px;
    height: 100px;
    border: 1px solid #af1212;
    align-items: center;
    border-radius: 100%;
    background-color: #af1212;
    margin-left: 150px;
  }
  
  .detail p {
    text-align: center;
    padding: 1rem;
    margin: 2rem 2rem;
    width: 100%;
    height: 50rem;
    font-weight: bold;
  }
  
 
  
  /*
  @media screen and (max-width: 400px){
    .buyer{
      margin-top: -18rem;
      width: auto;
    }
    .buyerheader h1{
      font-size: 1.5rem;
    }
    .buyerheader p{
      font-size: 1rem;
    }
    .buyerdetail .detail h3{
      font-size: 1.2rem;
    }
    .buyerdetail .detail p{
      font-size: .9rem;
    }
    .detail .icon{
      padding: 1rem;
    }
  }
  
    */
