.buy {
  display: inline-flex;
  text-align: center;
  justify-content: center;
}

.buyInfo {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 100px;
}
.buyInfo h1 {
  font-weight: 800;
  font-family: "Poppins", sans-serif;
}
.buyInfo p {
  font-weight: bold;
  font-size: 18px;
  word-spacing: 5px;
  color: gray;
  font-family: "Poppins", sans-serif;
  margin-left: 10px;
  margin-right: 80px;
  text-align: center;
  width: 100%;
}
.sell {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.sell .sell1 {
  background-image: url("https://res.cloudinary.com/antrix/image/upload/e_brightness:-65/v1664701911/norwich-2830011__340_gmcmek.jpg");
  background-size: cover;
  height: 250px;
  width: 600px;
  color: #dfe6e9;
}
.sell p {
  font-size: 13px;
  padding-top: 10px;
  align-items: center;
  margin-left: 230px;
}
.sell h3 {
  margin-left: 70px;
  margin-right: 70px;
  font-weight: 700;
  padding-bottom: 50px;
}
.sell1 span {
  width: 200px;
  height: 70px;
  background-color: #dfe6e9;
  color: #af1212;
  padding: 20px;
  border-radius: 8px;
  cursor: pointer;
}
.sell1 span:hover {
  background-color: #af1212;
  color: #dfe6e9;
}
.sell .sell2 {
  background-image: url("https://res.cloudinary.com/antrix/image/upload/v1664701911/farmer_xsud0n.jpg");
  background-size: cover;
  height: 250px;
  width: 600px;
  color: #dfe6e9;
  margin-top: 2rem;
}

.sell2 span {
  width: 200px;
  height: 70px;
  background-color: #dfe6e9;
  color: forestgreen;
  padding: 20px;
  border-radius: 8px;
  cursor: pointer;
}
.sell2 span:hover {
  background-color: rgb(69, 231, 69);
  color: #dfe6e9;
}
h3:hover {
  zoom: 105%;
}
.sell2:hover {
  width: 100%;
  height: 100%;
  -webkit-transition: all 1500ms ease-in-out;
  -moz-transition: all 1500ms ease-in-out;
  -ms-transition: all 1500ms ease-in-out;
  -o-transition: all 1500ms ease-in-out;
  transition: all 1500ms ease-in-out;
  box-shadow: inset 0 0 0 5000px rgba(0, 0, 0, 0.2);
}

.sell1:hover,
p:hover {
  width: 100%;
  height: 100%;
  -webkit-transition: all 1500ms ease-in-out;
  -moz-transition: all 1500ms ease-in-out;
  -ms-transition: all 1500ms ease-in-out;
  -o-transition: all 1500ms ease-in-out;
  transition: all 1500ms ease-in-out;
  box-shadow: inset 0 0 0 5000px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 900px) {
  .buy {
    flex-flow: row wrap;
    align-items: center;
  }
  .buy .buyInfo {
    display: block;
    order: 1;
    margin-top: 2rem;
  }
  .sell {
    display: block;
    order: 2;
    width: 62.5;
    height: 62.5;
    padding: 2rem 4rem 2rem 4rem;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  .buy {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
  }
  .buy .buyInfo {
    display: block;
    order: 1;
    margin-top: 2rem;
  }

  .sell {
    display: block;
    order: 2;
    width: 62.5;
    height: auto;
    align-items: center;
    justify-content: center;
  }
  .buyInfo h1 {
    font-size: 1.5rem;
  }
  .buyInfo p {
    font-size: 1rem;
    margin-bottom: 3rem;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 400px) {
  .buy {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    width: auto;
  }
  .buy .buyInfo {
    display: block;
    order: 1;
    margin-top: 2rem;
  }

  .sell {
    display: block;
    order: 2;
    width: 62.5;
    height: auto;
    align-items: center;
    justify-content: center;
    padding-bottom: 5rem;
  }
  .sell span {
    margin-top: 2rem;
    padding: 1rem;
    font-size: 0.8rem;
  }

  .buyInfo h1 {
    font-size: 1rem;
  }
  .buyInfo p {
    font-size: 0.8rem;
    margin-bottom: 3rem;
    align-items: center;
    justify-content: center;
  }
  .sell .sell1 h3 {
    font-size: 1rem;
    align-items: center;
    justify-content: center;
    padding: 1rem 4rem 3rem 4rem;
  }
  .sell .sell2 h3 {
    font-size:1rem;
    align-items: center;
    justify-content: center;
    padding: 1rem 4rem 3rem 4rem;
  }
  .sell1 span{
    padding: .5rem;
  }
  .sell2 span{
    padding: .5rem;
  }
}
