.career {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.careerInfo h2 {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 50px;
}
.careerInfo p {
  margin-bottom: 60px;
  margin-left: 5px;
  font-family: "Poppins", sans-serif;
}
.careerImage {
  margin-left: 80px;
  margin-top: 50px;
}
.careerInfo button {
  width: 27rem;
  height: 57px;
  background-color: #af1212;
  color: #dfe6e9;
  padding: 15px;
  font-size: 15px;
  /* margin-bottom: 4px; */
  cursor: pointer;
  border-radius: 20px;
  border: none;
}

.info {
  align-items: center;
  justify-content: center;
  margin: 100px;
}
.info h1 {
  font-weight: 800;
}
.info p {
  color: grey;
  font-size: 20px;
}
.info span {
  font-weight: 600;
  color: rgb(53, 172, 53);
}

.info1 {
  background-color: rgb(233, 224, 224);
  text-align: left;
  height: 300px;
  padding-top: 10px;
}
.info1 h1 {
  margin-left: 150px;
  font-weight: 800;
}
.info1 p {
  position: relative;
  width: 100%;
  font-weight: 200px;
  padding: 20px 200px 50px 150px;
  font-size: 18px;
}
.info1 span {
  color: rgb(53, 172, 53);
  cursor: pointer;
}

h2,
p {
  text-align: left;
  align-items: left;
}

@media screen and (max-width: 900px) {
  .career {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    padding: 20px 40px 20px 40px;
  }
  .careerInfo {
    display: block;
    order: 1;
  }
  .careerInfo h2 {
    font-size: 2rem;
    text-align: center;
  }
  .careerInfo p {
    text-align: center;
    font-size: 1rem;
  }
  .career .careerImage {
    display: block;
    order: 2;
    width: 62.5rem;
    height: 100px;
    margin-bottom: 200px;
    margin-left: -3rem;
    align-items: center;
    justify-content: center;
  }
  .careerInfo button {
    width: 15rem;
    text-align: center;
  }
  .info {
    text-align: center;
    justify-content: center;
  }
  .info1 {
    text-align: left;
    height: auto;
  }
}

@media screen and (max-width: 600px) {
  .career {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    justify-content: center;
  }
  .careerInfo {
    display: block;
    order: 1;
  }

  .careerInfo h2 {
    font-size: 20px;
    text-align: center;
    justify-content: center;
    padding: 1rem 5rem 1rem 5rem;
  }
  .careerInfo p {
    font-size: 15px;
    text-align: center;
    justify-content: center;
    padding: 0.1rem 10rem 0.5rem 10rem;
  }
  .careerInfo button {
    width: 10rem;
    text-align: center;
    padding: 5px;
    font-size: 12px;
  }
  .career .careerImage {
    display: block;
    order: 2;
    align-items: center;
    justify-content: center;
    width: 25rem;
    height: 20rem;
    padding-right: 4rem;
  }
  .info {
    width: 62.5;
    display: block;
    align-items: center;
    margin-top: -2rem;
  }
  .info h1 {
    text-align: left;
    font-size: 20px;
  }
  .info p {
    font-size: 12px;
    align-items: center;
  }
  .info1 {
    width: 62.5;
    display: block;
    align-items: center;
  }
  .info1 h1 {
    text-align: left;
    font-size: 20px;
  }
  .info1 p {
    font-size: 12px;
    align-items: center;
    padding: 1rem 2rem 1rem 2rem;
  }
}


@media screen and (max-width: 400px) {
  .careerInfo h2{
    font-size: 1rem;
  }
  .careerInfo p{
    font-size: .8rem;
    margin-top: -2rem;
  }
  .careerInfo button {
    width: 7rem;
    text-align: center;
    font-size: .8rem;
    margin-top: -3rem;
  }
  .careerImage img{
    align-items: center;
    justify-content: center;
    padding: 6rem;
    margin-left: -3rem;
    margin-top: -6rem;
  }
  .info{
    margin-top: -15rem;
  }
  .info p{
    font-size: .8rem;
  }
  .info1 p{
    font-size: .8rem;
  }
}