.Signup {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 200px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  /* background-image: url('../images/contact5.jpg'); */
  background-repeat: no-repeat;
  background-size: cover;
}

input,
textarea {
  outline: none;
  overflow: visible;
  width: 50%;
  text-align: left;
  box-shadow: none;
  font-weight: 300;
  background: transparent;
  border: none;
  border-bottom: 1px solid black;
  font-size: 18px;
  padding-left: 0;
  height: 45px;
  margin-bottom: 10px;
  flex-direction: row;
  justify-content: space-between;
}

.subject,
.textarea {
  width: 100%;
}
.submit {
  background-color: #af1212;
  text-align: center;
  width: 100%;
  color: white;
  border-radius: 3rem;
}

.contactform1 {
  display: flex;
  justify-content: space-between;
}

.inputcontactone {
  width: 290px;
  margin: 0 150px 0 0;
}

.contactform1 input:hover {
  border: 1px solid black;
  padding-left: 10px;
}
.subject:hover {
  border: 1px solid black;
  padding-left: 10px;
}
.textarea:hover {
  border: 1px solid black;
  padding-left: 10px;
  border-radius: 15px;
}

::placeholder {
  color: black;
  font-weight: bold;
}

@media screen and (max-width: 400px) {
  .contacthead1 {
    margin-top: 50px;
    font-weight: 900;
    width: 13rem;
    margin-left: -9rem;
  }

  .Signup {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 200px;
    padding-left: 0px;
    padding-right: 1px;
    padding-top: 12px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: -13rem;
    width: 24rem;
  }
  .contactform1 {
    display: flex;
    justify-content: space-evenly;
    width: 23rem;
  }
  .inputcontactone {
    width: 126px;
    margin: 0 51px 0 0;
  }
}
