.Signup {
  text-align: center;
  margin: 200px 200px;
  margin-top: 20px;
  margin-bottom: 200px;
}

input,
textarea {
  outline: none;
  overflow: visible;
  width: 50%;
  text-align: left;
  box-shadow: none;
  font-weight: 300;
  background: transparent;
  border: none;
  border-bottom: 1px solid black;
  font-size: 18px;
  padding-left: 0;
  height: 45px;
  margin-bottom: 10px;
  flex-direction: row;
  justify-content: space-between;
}

.subject,
.textarea {
  width: 100%;
}
.submit {
  background-color: #fb0603;
  text-align: center;
  width: 100%;
  color: white;
}

.contactform1 {
  display: flex;
}
