.contact{
  margin-left: -2rem;
}
.Signup {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 20rem;
  padding-top: 2rem;
  background-color: #dfe6e9;
}

input,
textarea {
  outline: none;
  overflow: visible;
  width: 50%;
  text-align: left;
  box-shadow: none;
  font-weight: 300;
  background: transparent;
  border: none;
  border-bottom: 1px solid black;
  font-size: 18px;
  padding-left: 0;
  height: 45px;
  margin-bottom: 10px;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 50rem;
}

::placeholder {
  text-align: center;
}

form {
  width: 39rem;
  align-items: center;
  margin-left: 29rem;
}

.subject,
.textarea {
  width: 100%;
}
.submit {
  background-color: #af1212;
  text-align: center;
  width: 100%;
  color: #dfe6e9;
  border-radius: 3rem;
}

.contactform1 {
  display: flex;
  justify-content: space-between;
}

.inputcontactone {
  width: 290px;
  margin: 0 150px 0 0;
}

.contactform1 input:hover {
  border: 1px solid black;
  padding-left: 10px;
}
.subject:hover {
  border: 1px solid black;
  padding-left: 10px;
}
.textarea:hover {
  border: 1px solid black;
  padding-left: 10px;
  border-radius: 15px;
}

::placeholder {
  color: black;
  font-weight: bold;
}

@media screen and (max-width: 400px) {
  .contacthead1 {
    margin-top: 5rem;
    width: 13rem;
    margin-left: 7rem;
    font-size: 1.5rem;
  }

  .Signup {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 200px;
    padding-top: 12px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: -25rem;
    width: 24rem;
  }
  .contactform1 {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 35rem;
  }
  .inputcontactone {
    width: 126px;
    margin: 0 51px 0 0;
  }
  .subject,.textarea{
    width: 20rem;
    margin-right: 20rem;
  }
  ::placeholder {
    font-size: 1rem;
  }
  .submit{
    width: 20rem;
    margin-right: 20rem;
    font-size: 1rem;
  }
}
