
.buyer {
    background-color: #b2bec3;
    height: 30rem;
}
 .buyerheader h1 {
    color: #af1212;
    text-align: center;
    font-weight: 800;
    font-size: 50px;
}
.buyerheader p {
    text-align: center;
    font-weight: 600;
    margin-bottom: 50px;
}
  
.buyerdetail {
    display: flex;
    flex-direction: row;
}
.buyerdetail .detail{
    height: 20rem;
}
  
.buyerdetail .detail .icon {
    width: 5rem;
    height: 5rem;
    align-items: center;
    border-radius: 100%;
    background-color: #af1212; 
    margin-left: 6.5rem;
}
.buyerdetail h3 {
    color: #af1212;
    font-weight: bold;
    text-align: center;
}

.buyerdetail .detail .detailP p {
    text-align: left;
    width: 80%;
} 