.headdiv {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.homeInfo {
  width: 35rem;
  text-align: left;
  font-family: "Poppins", sans-serif;
}

.homeInfo h1 {
  font-size: 50px;
  font-weight: bold;
}

.homeInfo p {
  font-size: 25px;
  margin-left: 10px;
}
.buttondiv {
  display: flex;
  justify-content: space-around;
}

.btn-danger {
  background-color: #fb0603 !important;
  width: 16rem;
  border-radius: 20px;
}

.sixthback {
  background-color: #fef200;
}

.logo {
  border-radius: 100px;
  margin-left: 50px;
}
.headBtn {
  float: left;
  position: absolute;
  left: 181px;
  top: 570px;
  z-index: 1000;
  padding: 13px;
  color: #ffffff;
  font-weight: bold;
}

.headBtn1 {
  float: left;
  position: absolute;
  left: 175px;
  top: 629px;
  z-index: 1000;
  padding: 20px;
  color: #ffffff;
  font-weight: bold;
  background-color: white !important;
  border: none;
}

.nav-link-head {
  text-decoration: none;
  color: white;
}

.nav-link-head:hover {
  color: yellow !important;
}

.homeImage {
  box-shadow: 1px 30px 41px 15px rgb(0 0 0 / 20%);
}
