.header {
  display: inline-block;
  align-items: center;
  justify-content: space-around;
  background-color: yellow;
}
.headerInfo {
  position: absolute;
  text-align: left;
  justify-content: center;
  margin-right: 800px;
  margin-top: 40px;
} 
.headerInfo h1 {
  font-weight: 800;
  margin-bottom: 50px;
  font-family: "Poppins", sans-serif;
}
.headerInfo span{
  color: red;
}

.headerInfo p {
  margin-bottom: 60px;
  margin-left: 5px;
  font-family: "Poppins", sans-serif;
  word-spacing: 5px;
  font-weight: bold;
}
.headerImage {
  margin-left: 455px;
  margin-top: 50px;
}
.headerInfo .span span{
  width: 350px;
  height: 57px;
  background-color: #fb0603;
  color: white;
  padding: 15px;
  font-size: 15px;
  cursor: pointer;
  border-radius: 15px;
  border: none;
}

