.bg-light {
  background-color: rgb(23, 23, 10) !important;
  color: white !important;
}

.nav-link,
.navbar-brand {
  color: red !important;
}

.nav-link:hover {
  color: yellow !important;
  background-color: red;
}

.logo {
  width: 227px;
  height: 172px;
  margin-top: -5rem;
}

.navbar {
  background-color: yellow !important;
}
