.navbar {
  background-color: #af1212 !important;
  /* position: -webkit-sticky;
  position: sticky;
  top: 0;
  overflow: hidden; */
}

.bg-light {
  background-color: rgb(23, 23, 10) !important;
  color: white !important;
}

.nav-link,
.navbar-brand {
  color: white !important;
}

.nav-link:hover {
  color: #ffff00 !important;
  background-color: #af1212;
}

.logo {
<<<<<<< HEAD
  width: 100px;
  height: 80px;
  margin-top: -1rem; 
=======
  width: 143px;
  height: 107px;
  margin-top: -2rem;
>>>>>>> f1200cd1b63f0a84727b531456e2957f058b3259
  margin-left: 40px;
  margin-bottom: -15px;
}