.navbar {
  /* background-color: #fff !important; */
  /* box-shadow: 1px 1px 10px 0px rgb(0 0 0 / 20%); */
  padding: 0px;
  background-color: #de1122 !important;
}

.bg-light {
  background-color: rgb(23, 23, 10) !important;
  color: white !important;
}

.nav-link1 {
  font-size: 3rem;
  margin-left: 7rem;
  text-decoration: none;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #fff;
}

.nav-link1:hover {
  color: #34495e;
}
.navbar-nav {
  margin-left: 27rem !important;
}

.nav-link,
.navbar-brand {
  color: #fff !important;
  font-weight: bold;
}

.navbar-nav {
  margin-left: 40rem;
}

.nav-link:hover {
  color: #34495e !important;
}

.logo {
  width: 143px;
  height: 107px;
  margin-top: -2rem;
  margin-left: -1rem;
  margin-bottom: -15px;
  padding: -3rem;
}

@media screen and (max-width: 400px) {
  .navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 400px;
  }
}
