.team h1{
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: 900;
    font-size: 50px;
}
.line1Info{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(231, 223, 223);
    width: 400px;
    height: 400px;
}

.line1Info h2{
    text-align: center;
    padding-top: 100px;
    padding-right: 60px;
    font-weight: 700;
}
.line1Info span{
    padding-top: 20px;
    padding-right: 60px;
    font-size: 18px;
    color: gray;
    font-weight: 500;
}
.line1Info a{
    padding-top: 50px;
    padding-right: 60px;
}

.image1 img{
    width: 400px;
    height: 400px;
}

.btn span{
    width: 20px;
    height: 10px;
    padding:15px 60px 15px 60px;
    color: white;
    background-color:red ;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
}