.regheader h1{
  color:#af1212;
  font-size:3rem;
}
.flex-container {
  display: flex;
  flex-direction: row;
  margin-top: 5rem;
}

.flex-container > div {
  background-color: rgb(161, 189, 221);
  border: 3px solid #af1212;
  width: 32rem;
  height: 10rem;
  line-height: 75px;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.flex-container .divcol1 {
  border-radius: 4rem;
  border-top: none;
  border-left: none;
  padding-top: 2.5rem;
}

.flex-container .divcol2 {
  border-radius: 5rem;
  border-bottom: none;
  padding-bottom: 2.5rem;
  border-left: none;
  border-right: none;
  border-width: 4px;
  box-shadow: 2px -10px 13px -1px darkslategrey;
}

.flex-container .divcol2:hover {
  border: 2px solid rgb(161 189 221);
}

.flex-container .divcol3 {
  border-radius: 25rem;
  /* border-bottom: none; */
  padding-bottom: 7.5rem;
  border-left: none;
  border-right: none;
  border-width: 5px;
  border-top: none;
  box-shadow: 0px 15px 11px -1px darkslategrey;
}

.flex-container .divcol3:hover {
  border: 2px solid rgb(161 189 221);
}

.flex-container .divcol4 {
  border-radius: 5rem;
  border-bottom: none;
  padding-bottom: 2.5rem;
  border-left: none;
  border-right: none;
  border-width: 4px;
  box-shadow: 2px -10px 13px -1px darkslategrey;
}

.flex-container .divcol4:hover {
  border: 2px solid rgb(161 189 221);
}


/* @media screen and (max-width: 400px){
  .regheader h1{
    text-align: left;
    font-size: 2.5rem;
    margin-left: -10rem;
    margin-top: -10rem;
    }
    .flex-container{
      display: flex;
     flex-flow: row wrap;
     margin-left: -14rem;
     margin-top: -1rem;
    }
    .divcol2{
      width: 25rem;
      padding: 3rem 6rem 3rem 6rem;
    }
    .divcol3{
      width: 25rem;
      padding: 3rem 6rem 3rem 6rem;
    }
    .divcol4{
      width: 25rem;
      padding: 3rem 6rem 3rem 6rem;
    }
  } 





 */





.buyer1 {
  display: flex;
  justify-content: space-between;
}
.buyer2 {
  display: flex;
  justify-content: space-between;
}

.buyerdetail1 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 300px;
  padding: 64px;
  text-align: center;
  background-color: white;
  width: 71rem;
}
.buyerdetail1 h3 {
  color: #af1212;
  font-weight: bold;
}

.buyerheading {
  color: #af1212;
  padding-top: 1px;
  margin-bottom: -44px;
  text-align: center;
  line-height: 8rem;
  font-weight: 700;
  text-shadow: 1px 0px 24px black;
  margin-left: -7rem;
}

.icon1 {
  width: 100px;
  height: 100px;
  border: 1px solid #af1212;
  align-items: center;
  border-radius: 100%;
  background-color: #af1212;
  margin-left: 48px;
}

.icon3 {
  width: 100px;
  height: 100px;
  border: 1px solid #af1212;
  align-items: center;
  border-radius: 100%;
  background-color: #af1212;
  margin-left: 127px;
}

.icon2 {
  width: 100px;
  height: 100px;
  border: 1px solid #af1212;
  align-items: center;
  border-radius: 100%;
  background-color: #af1212;
  margin-left: 127px;
}

.detail-one {
  font-size: 48px;
  color: white;
  padding: 25px 120px 1px 1px;
}

.detail2 {
  font-size: 48px;
  color: white;
  padding: 25px 161px 1px 1px;
}
.detail3 {
  padding: 25px 1px 1px 1px;
  font-size: 48px;
  color: white;
}
.detail4 {
  font-size: 48px;
  color: white;
  padding: 25px 161px 1px 1px;
}
.detail5 {
  font-size: 48px;
  color: white;
  padding: 25px 1px 1px 1px;
}

.link4 span {
  margin-left: -90px;
  border: 1px solid #af1212;
  background-color: #af1212;
  padding: 5px 20px 9px 20px;
  color: white;
  font-weight: bold;
  border-radius: 15px;
}

.pic-one {
  width: 320px;
  padding: 0px;
  margin: 48px 50px 9px -50px;
  height: 450px;
  line-height: 40px;
  box-shadow: 0px 6px 11px -2px rgb(0 0 0 / 75%);
}

.pic-two {
  width: 320px;
  padding: 0px;
  margin: 49px 50px 9px 50px;
  height: 450px;
  line-height: 40px;
  box-shadow: 5px 6px 11px -2px rgb(0 0 0 / 75%);
}

.link5 span {
  margin-left: -10px;
  border: 1px solid #af1212;
  background-color: #af1212;
  color: white;
  font-weight: bold;
  height: 60px;
  padding: 5px 20px 9px 20px;
  border-radius: 15px;
}
.link6 span {
  margin-left: -10px;
  border: 1px solid #af1212;
  background-color: #af1212;
  color: white;
  font-weight: bold;
  height: 60px;
  padding: 5px 20px 9px 20px;
  border-radius: 15px;
}

@media screen and (max-width: 400px) {
  .buyerheading {
    margin-left: -12rem;
    width: 23rem;
    margin-top: -14rem;
  }
  .buyerdetail1 {
    margin-left: -223px;
    width: 25.5rem;
  }
  .detail2 {
    font-size: 1px;
    color: white;
    padding: 0px 2px 1px 1px;
    margin-left: 0rem;
  }

  .detail3 {
    font-size: 1px;
    color: white;
    padding: 0px 1px 1px 1px;
    margin-left: -1rem;
    margin-top: 21px;
  }

  .detail-one {
    font-size: 1px;
    color: white;
    padding: 0px 2px 1px 1px;
    margin-left: 0rem;
  }
  .icon1 {
    font-size: 30px;
    color: white;
    margin-left: 16px;
  }
  .icon3 {
    font-size: 30px;
    color: white;
    margin-left: 16px;
    margin-top: -22px;
  }

  .buyheadnew {
    font-size: 15px;
  }
  .detail4 {
    font-size: 48px;
    color: white;
    padding: 1px 0px 1px 95px;
  }

  .detail5 {
    font-size: 48px;
    color: white;
    padding: 0px 195px 1px 1px;
  }

  .buyheadnew1 {
    font-size: 18px;
    margin-left: 114px;
  }

  .regbuyerheading {
    text-align: center;
    margin-left: -11rem;
    width: 27rem;
    font-size: 25px;
    margin-top: -14rem;
  }

  .pic-one {
    margin-left: -5rem;
  }

  .pic-two {
    width: 320px;
    padding: 0px;
    margin: 49px 50px 9px -77px;
    height: 450px;
    line-height: 40px;
    box-shadow: 5px 6px 11px -2px rgb(0 0 0 / 75%);
  }

  .link4 span {
    margin-left: -154px;
    border: 1px solid #af1212;
    background-color: #af1212;
    padding: 5px 20px 9px 13px;
    color: white;
    font-weight: bold;
    border-radius: 15px;
  }

  .link5 span {
    margin-left: -142px;
    border: 1px solid #af1212;
    background-color: #af1212;
    color: white;
    font-weight: bold;
    height: 60px;
    padding: 5px 20px 9px 20px;
    border-radius: 15px;
  }

  .link6 span {
    margin-left: -125px;
    border: 1px solid #af1212;
    background-color: #af1212;
    color: white;
    font-weight: bold;
    height: 60px;
    padding: 5px 20px 9px 20px;
    border-radius: 15px;
  }
}


