.w-100 {
  max-height: 400px !important;
  max-width: 100% !important;
}

.fifthheading {
  color: #dfe6e9;
  padding-top: 1px;
  margin-bottom: -44px;
  text-align: center;
  line-height: 8rem;
  font-weight: 700;
  text-shadow: 1px 0px 24px black;
}
.Sixheading {
  color: #dfe6e9;
  padding-top: 1px;
  margin-bottom: -44px;
  text-align: center;
  line-height: 8rem;
  font-weight: 700;
  text-shadow: 1px 0px 24px black;
}

.regbuyerheading {
  color: #dfe6e9;
  padding-top: 1px;
  margin-bottom: -44px;
  text-align: center;
  line-height: 8rem;
  font-weight: 700;
  text-shadow: 1px 0px 24px black;
  margin-right: 117rem;
}

.fifthheading p {
  margin-top: 5px;
}

/* .sixth-two {
  background-color: #e74c3c;
  
} */

.fifth-two {
  color: #dfe6e9;
  height: 12rem;
  background-color: #af1212;
  text-align: center;
}
.fifth-two p {
  text-align: center;
  font-weight: 700;
}
.fifthsecimage {
  box-shadow: 2px 6px 29px 14px rgb(0 0 0 / 20%);
  border-radius: 20px;
}




a {
  text-decoration: none;
}
a:hover {
  color: #dfe6e9;
}

.fa {
  font-size: 48px !important;
  color: #dfe6e9 !important;
}



@media screen and (max-width: 600px) {
  .fifthheading {
    color: #dfe6e9;
    padding-top: 0px;
    margin-bottom: -54px;
    text-align: center;
    line-height: 8rem;
    font-weight: 700;
    text-shadow: 1px 0px 24px black;
  }
  .subheadingbuy {
    color: #080707;
    padding-top: 1px;
    margin-bottom: -44px;
    text-align: center;
    line-height: 8rem;
    text-shadow: 1px 0px 5px black;
    margin-top: 32rem;
    width: 21rem;
  }

  .mainsubdiv {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    flex-direction: column;
    align-items: left;
    width: 94rem;
    height: 11rem;
  }

  .fifthheading {
    font-size: 1.5rem;
    margin-left: 0rem;
    margin-top: 1rem;
  }
  .Sixheading {
    margin-top: 71rem;
    margin-left: -180rem;
    font-size: 1.5rem;
  }
  .registerbuyer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: -53rem;
    margin-left: -9rem;
  }
  .registerInfo {
    margin-left: 6rem;
  }
  .registerInfo1 {
    margin-left: 0rem;
  }

  .link3 span {
    border: 1px solid #af1212;
    background-color: #af1212;
    color: #dfe6e9;
    font-weight: bold;
    width: 100%;
    height: 60px;
    margin-left: 6rem;
    padding: 5px 40px 9px 40px;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 900px) {
  .serviceHead h1 {
    font-size: 2rem;
  }
  .item h1 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 600px) {
  .serviceHead h1 {
    font-size: 1.5rem;
  }
  .item h1 {
    font-size: 1rem;
  }
}
@media screen and (max-width: 360px) {
  .serviceHead h1 {
    font-size: 1rem;
  }
  .item h1 {
    font-size: 1rem;
  }
}
