.w-100 {
  max-height: 400px !important;
  max-width: 100% !important;
}

.fifthheading {
  color: black;
  padding-top: 1px;
  margin-bottom: -44px;
  text-align: center;
  line-height: 8rem;
  text-shadow: 3px 3px 27px #fff;
}

/* .sixth-two {
  background-color: #e74c3c;
  
} */

.fifth-two {
  background-image: url("https://media.giphy.com/media/Qw4X3Fnau9qPKrb8TcI/giphy.gif");
  filter: brightness(8);
}

.fifthsecimage {
  box-shadow: 2px 6px 29px 14px rgb(0 0 0 / 20%);
  border-radius: 20px;
}
