.w-100 {
  max-height: 400px !important;
  max-width: 100% !important;
}

.fifthheading {
  color: white;
  padding-top: 80px;
  margin-bottom: -110px;
}

/* .sixth-two {
  background-color: #e74c3c;
  
} */
