.App {
  text-align: center;
  background-color: #dfe6e9;
}

.sec-two {
  /* background-color: #bdc3c7 !important; */
  padding-top: 25px;
}

@media screen and (max-width: 600px) {
  body {
    width: 100%;
  }
}
